{% extends 'base.html.twig' %}

{% block title %}New Destination{% endblock %}

{% block body %}
    <h1>Create new Destination</h1>

    {{ include('destination/_form.html.twig') }}

    <a href="{{ path('destination_index') }}">back to list</a>
{% endblock %}
